AWS_REGION=ap-northeast-2
TWENTY_IMAGE=123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/twenty-staging:latest
SERVER_URL=https://example.cloudfront.net
TWENTY_HOST_PORT=3000

PG_DATABASE_URL=postgres://twenty:change-me@example-db.ap-northeast-2.rds.amazonaws.com:5432/twenty
PG_SSL_ALLOW_SELF_SIGNED=true
PGSSLMODE=require

REDIS_URL=redis://example-redis.apn2.cache.amazonaws.com:6379

ENCRYPTION_KEY=replace-with-a-32-byte-base64-value
FALLBACK_ENCRYPTION_KEY=
APP_SECRET=replace-with-a-32-byte-base64-value

STORAGE_TYPE=s3
STORAGE_S3_REGION=ap-northeast-2
STORAGE_S3_NAME=twenty-files-bucket
STORAGE_S3_ENDPOINT=
STORAGE_S3_ACCESS_KEY_ID=
STORAGE_S3_SECRET_ACCESS_KEY=
STORAGE_S3_PRESIGNED_URL_ENABLED=true
STORAGE_S3_PRESIGNED_URL_BASE=
STORAGE_S3_PRESIGNED_URL_EXPIRES_IN=900

IS_CONFIG_VARIABLES_IN_DB_ENABLED=true
PULL_IMAGE=true
