.label {
  color: var(--t-font-color-light);
  font-weight: var(--t-font-weight-semi-bold);
}

.default {
  font-size: var(--t-font-size-label, var(--t-font-size-xs, 11px));
  line-height: var(--t-label-line-height, 1.2);
}

.small {
  font-size: var(--t-font-size-xxs, 9px);
}
